{
  "jsxSingleQuote": true,
  "plugins": [
    "prettier-plugin-sort-json",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "trailingComma": "all"
}
