@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.contentContainer {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: var(--edge-spacing);
}

/* Innlegg sitt htmlcontent bruker paragrafer og ikke linjeskift. Legg derfor på ekstra spacing  */
p {
    margin: 0.5rem 0;
}

/* Decorator.HeadAssets setter "overflow-y: scroll", så overstyrer dette for å slippe scrolling bak modaler */
.navds-modal__document-body {
    overflow: hidden;
}
